# # Node modules
# node_modules/

# # Build output
# /build/
# /dist/

# # macOS system files
# .DS_Store

# # Log files
# *.log

# # Android Studio
# .idea/
# *.iml

# # React Native Debug files
# *.hprof

# # iOS build files
# *.xcworkspace
# *.xcodeproj
# *.xcuserstate

# Ignore everything
*

# Don't ignore .gitignore itself (optional but useful)
!.gitignore

# Except mainn.py
!MainProject.ipynb
!README.md
